####### DEBUG SETTINGS #########
/* LOG Levels: 3=DBG, 2=INFO, 1=NOTICE, 0=WARN, -1=ERR, ... */
#!define DBGLEVEL {{ debug_level }}
/* set to 'yes' to print log messages to terminal or use '-E' cli option */
log_stderror= {{ log_stderror }}


####### DATABASE SETTINGS #########
#!define DBURL "postgres://{{ kam_dbuser }}:{{ kam_dbpass }}@{{ dbhost }}:{{ dbport }}/{{ kam_dbname }}"

####### SIP SETTINGS #########
/* define interfaces to bind to */
listen=udp:{{ ip_private }}:{{ port_udp }} advertise {{ ip_public }}:{{ port_udp }}
listen=tcp:{{ ip_private }}:{{ port_tcp }} advertise {{ ip_public }}:{{ port_tcp }}


####### DISPATCHER SETTINGS #########
/* https://opensips.org/html/docs/modules/2.3.x/dispatcher.html#idp1760272 */
/* set - a partition name followed by colon and an id of the set or a list of sets from where to pick up destination address */
#!define DS_SET {{ disp_set }}}
/* alg - the algorithm(s) used to select the destination address (variables are accepted).  */
#!define DS_ALG {{ disp_alg }}
